/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import bootstrap-sprockets
@import bootstrap

body
	padding-top: 70px
	font-family: sans-serif
	background: white

#centered_text
	text-align: center

#footer
	padding-top: 100px

#map
	height: 500px
	width: 80%
	margin: auto
	background-color: gray

.map_wrapper
	width: 100%

a:link
	text-decoration: none
	font-weight: bold

.table
	thead
		th
			font-size: 24px
			padding-bottom: 50px
			border-bottom: 2px solid black
			text-align: center
	tbody
		tr
			text-align: center
			font-size: 16px
			img
				width: 95%
			td
				vertical-align: middle
				padding-bottom: 10px

#lightbox
	background: rgba(0,0,0, 0.9)
	position: absolute
	width: 100%
	min-height: 100%
	top: 0
	left: 0
	text-align: center
	color: white
	padding-bottom: 100px

	img
		width: 80%
