<h1>About this project</h1>

<h4>
  This project combines two things I love: Portland's murals and coding. In 2013, a small group of Portland visionaries created <a href="http://www.forestforthetreesnw.com/about/">Forest For The Trees NW</a>, a non-profit that brings artists from all over the world to paint murals around the city. You can check out their beautiful website <a href="http://www.forestforthetreesnw.com/">here</a>.
</h4>

<h4>
  While the FFTTNW website does a great job documenting the project, it doesn't include a clickable map with markers that show all the murals in the city, regardless of the year they were created. This project provides that map by combining Rails with the following gems: Paperclip (for easily uploading images); Gmaps4rails (for creating maps with markers); and Geocoder (to geocode mural addresses).
</h4>


<h1>About me</h1>

<h4>
  I fell in love with Ruby about a year ago, after a close friend of mine (and software developer at Upworthy) suggested I try it out. I graduated from the Epicodus Code School (Ruby/JavaScript/Rails) in the summer of 2015, and then went on to do an internship at Cast Iron Coding, where I worked on a complex codebase that combined a Backbone/Marionette JS framework on the front end with a Rails API on the back end. After finishing my internship, I continued to develop my coding passions, including Ruby and Rails. Other projects I've worked on include building a JS lightbox from scratch, building a basic API with Sinatra, solving Project Euler problems in Ruby, and working on a Rails app for health practitioners that will include scheduling and payment options.
</h4>
