<div class="about_intro">

  <div id="seashell"><%= image_tag("seashell_mural.jpg", :alt => "Figure with a seashell for a head.") %></div>

  <h3>About this project</h3>

  <p>
    This project combines two things I love: Portland's murals and coding. In 2013, a small group of Portland visionaries created <a href="http://www.forestforthetreesnw.com/about/">Forest For The Trees NW</a>, a non-profit that brings artists from all over the world to paint murals around the city. You can check out their beautiful website <a href="http://www.forestforthetreesnw.com/">here</a>.
  </p>

  <p>
    While the FFTTNW website does a great job documenting the project, it doesn't include a clickable map with markers that show all the murals in the city, regardless of the year they were created. This project provides that map by combining Rails with the following gems: Paperclip (for easily uploading images); Gmaps4rails (for creating maps with markers); and Geocoder (to geocode mural addresses). The website also includes an AJAX lightbox built from scratch, AWS S3 services and a Postgres database on the backend, deployment to Heroku, and Devise for admin authentication and authorization.
  </p>

  <div id="profile_pic"><%= image_tag("franz_profile_pic.jpg", :alt => "Picture of me with my baby son Leo.") %></div>

  <h3>About me</h3>

  <p>
    I fell in love with Ruby about a year ago, after a close friend and software developer at Upworthy suggested I try it out. I graduated from Epicodus Code School (Ruby/JavaScript/Rails) in the summer of 2015, then went on to do an internship at Cast Iron Coding, where I worked on a complex codebase that combined a Backbone/Marionette JS framework on the front end with a Rails API on the back end. After finishing my internship, I continued to develop my coding passions, especially Ruby and Rails. Other projects I've worked on include building a JS lightbox from scratch, building a basic API with Sinatra, solving Project Euler problems in Ruby, and working on a Rails app for health practitioners that will include calendar scheduling, payment options via Stripe, and email reminders.
  </p>

  <p>
     Check out my <a href="http://franzknupfer.herokuapp.com/">portfolio website</a> to learn more about my coding skills. The site uses Rails, AJAX and Devise, and also makes use of extensive testing via rspec, Factory Girl, phantom, and other testing gems.
  </p>

  <p>
    Check out my creative writing at <a href="http://franzknupfer.github.io/">franzknupfer.github.io</a>, a static site built with HTML, CSS and Twitter Bootstrap.
  </p>
  <p>
    For code samples, check out <a href="https://github.com/franzknupfer">my Github profile</a>.
  </p>
</div>
