<div class="map_lightbox_container">
  <div class="intro">

    <p>Some of the best art in Portland isn't in museums or galleries. It's painted on the walls of buildings both old and new. Since 2013, <a href="http://www.forestforthetreesnw.com/">Forest for the Trees NW</a> has transformed many of the city's public spaces. Visit the city's murals by exploring the map below.</p>
  </div>

  <div class="map_wrapper">
    <div id="map"></div>
  </div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>
</div>
